@import '@/app/globals.scss';

.skills_section {
    background-color: var(--bg-color);
    background-image: var(--bg-skills);
    background-size: cover;
    background-position: top;
}

.skills_container {
    justify-content: space-between;
    gap: 50px;

    h1 {
        color: var(--font-main);
        font-size: 1.5rem;
        font-weight: 600;
    }

    .tecSkills_sect,
    .softSkills_sect {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @media (min-width: 1024px) {
        .tecSkills_sect .tecnologies_section {
            grid-template-columns: repeat(3, 175px);
            justify-content: flex-start;
        }

        .softSkills_container {
            max-height: 75vh;
            overflow: auto;
        }
    }
}

.tecSkills_sect {
    .tecnologies_section {
        display: grid;
        grid-template-columns: repeat(auto-fill, 175px);
        grid-template-rows: auto;
        justify-content: center;
        gap: 1rem;

        .lbl_tag {
            background-color: white;
            width: 100%;
            display: flex;
            text-align: center;
            border: 1px solid $border-main;
            border-radius: 25px;
            color: $font-maincolor;

            .img_container {
                padding: 5px 15px;
                border-right: 1px solid $border-main;

                img {
                    width: auto;
                    height: 25px;
                }
            }

            span {
                font-weight: 600;
                margin: auto 15px;
            }
        }
    }
}

.softSkills_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: 10px;

    li {
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border: 1px solid $border-main;
        border-radius: 25px;
        color: $font-maincolor;
        padding: 15px;
        cursor: pointer;

        h2 {
            font-weight: 600;
            display: flex;
            justify-content: space-between;

            i {
                width: auto;
                height: 25px;
                font-size: 20px;
            }
        }
    }

    &::-webkit-scrollbar {
        width: 10px;
        background-color: white;
    }

    &::-webkit-scrollbar-thumb {
        width: 10px;
        background: #ccc;
        border-radius: 10px;

        &:hover {
            background: #aaa;
        }
    }
}