@import '@/app/globals.scss';

.switch_toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  
    input { 
        opacity: 0;
        width: 0;
        height: 0;

        &:checked {
            &+ .slider {
                background-color: $color-primary;

                &:before {
                    transform: translateX(20px);
                }
            }
        }
        
        &:focus {
            &+ .slider {
                box-shadow: 0 0 1px $color-primary;
            }
        }
   }
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .2s;
  
    &:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        top: 2px;
        left: 2px;
        background-color: white;
        transition: .2s;
    }
}
    
.round {
    border-radius: 25px;

    &:before {
        border-radius: 50%;
    }
}
