@import '@/app/globals.scss';

.personal_info_card {
    position: relative;
    min-width: 300px;
    max-width: 1200px;
    width: 100%;
    height: auto;
    max-height: 75vh;
    background-color: var(--bg-color);
    border-radius: 25px;
    padding: 50px;
    padding-top: 120px;

    .img_container {
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        border: solid 5px white;
        overflow: hidden;
        top: -100px;
        left: 50px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .info_container {
        display: flex;
        justify-content: center;
        gap: 50px;

        .description_sect,
        .contact_sect {
            flex: 1;
        }

        .description_sect {
            display: flex;
            flex-direction: column;
            gap: 25px;
            color: var(--font-main);

            .header_sect {
                h1 {
                    font-size: 2rem;
                    font-weight: 600;
                }

                h2 {
                    font-size: 1rem;
                    font-weight: 600;
                }
            }

            .social_sect {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 50px;
    
                a {
                    padding: 10px;
                    box-shadow: 0 0 10px 0 rgba(#666666, 0.25);
                    border-radius: 100%;
                    color: var(--font-main);
                    transition: all ease 0.2s;
    
                    i {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 30px;
                        font-size: 30px;
                    }
    
                    &:hover {
                        color: var(--bg-color);
                        background-color: var(--bg-hover);
                    }
                }
            }
        }

        .contact_sect {
            display: flex;
            flex-direction: column;
            gap: 25px;
            color: var(--font-main);

            .contact_data {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;
                gap: 20px 50px;

                .contact_item {
                    span {
                        font-size: 1.1rem;
                    }
                }
            }

            .langs_data {
                .langs_items {
                    margin-top: 0.75rem;
                    display: flex;
                    gap: 1rem;

                    .langs_item {
                        display: flex;
                        border-radius: 25px;
                        border: 1px solid var(--border-main);
                        overflow: hidden;

                        img {
                            padding: 5px;
                        }

                        span {
                            padding: 5px 10px;
                        }
                    }
                }
            }

            .contact_item, .langs_data {
                position: relative;

                h3 {
                    font-size: 1.25rem;
                    font-weight: 600;
                }

                i {
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-size: 1.5rem;
                    height: 1.5rem;
                    width: auto;
                }
            }

            .action_btns {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 50px;
                margin-top: auto;
                margin-bottom: 0;

                .btn {
                    min-width: 150px;
                    padding: 10px 25px;
                    border: 1.5px solid var(--border-main);
                    border-radius: 25px;
                    font-weight: 600;
                    background: var(--bg-color);
                    color: var(--font-main);
                    text-align: center;
        
                    &:hover {
                        background-color: #e0e0e0;
                    }
        
                    &:active {
                        background-color: #f9f9f9;
                    }
                }
            }
        }
    }
}